<div class="jumbotron center">
  <h1>Bienvenido a mi Aplicacion </h1>
<p>
<%= link_to "Registrate" , "https://google.com", class:'btn btn-default btn-lg'%>
<%= link_to "Inciar Session" , "#", class:'btn btn-default btn-lg'%>
 </p>
</div>
