<div class="jumbotron center">
  <h1>Bienvenido a mi Aplicacion </h1>
  <%if user_signed_in? %>
  #hacer alg
  <% else %>
<p>
<%= link_to "Registrate" , new_user_registration_path , class:'btn btn-default btn-lg'%>
 </p>
 <% end %>
</div>
